@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

body{
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    color: #1d1d1f;
}

/*---------------------------------------------------- Navigation */


/*---------------------------------------------------- Navbar*/
.navbar{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0,.5) !important;
    }
.navbar-brand img{
    height: 2.5rem;

}
   .navbar-nav li { padding-right: .1rem

   }

.navbar-text{
color: #ffffff !important;
}

.nav-link:hover{
    color: #d66800!important;
}

/*----------- Carousel-----------*/
.carousel-inner{
    max-height: 38rem !important;
}
/*----------- Slides-----------*/


.d-block w-100{
    max-width: 100%;

/*----------------------------------------------------Media Queries*/

@media (min-width:992px){
    .center-form{
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;

}
