@charset "UTF-8";
/*!
Name: Brian Milliken Production Sound 
Author: Jordan Milliken
*/

/* ==========================================================================
   Typography
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

body{
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    color: #1d1d1f;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.navbar{
    text-transform: uppercase;
    font-weight: 600;
    font-size:16px;
    letter-spacing: 1px;
    background: rgba(0, 0, 0,.5) !important;
}

.nav-item{
    padding: 8px;
}

.navbar-nav li { padding-right: 2px;
}

.navbar-text{
height:100px ;
padding: 4px;
color: #ffffff !important;
}

.nav-link{
    color: #ffffff!important;
}

.nav-link.active{
    color: #d66800!important;
}

.nav-link:hover{
    color: #d66800!important;
}

/* ==========================================================================
   Carousel
   ========================================================================== */

.carousel-inner{
    max-height: 608px !important;
}
/*-- Slides--*/
.d-block w-100{
    max-width: 100%;
}

/*-- Transition --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    transition: transform 2s ease;
}

    

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (min-width:992px){
    .center-form{
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;

}
