@charset "UTF-8";
/*!
Name: Brian Milliken Production Sound 
Author: Jordan Milliken
*/

/* ==========================================================================
   Typography
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #1d1d1f;
}
.special-border {
  border-top: 0.2rem solid #d66800 !important;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.navbar {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.5) !important;
  padding-top: -2.5rem !important;
  padding-bottom: -2.5rem !important;
  padding-left: -2.5rem !important;
  padding-right: -2.5rem !important;
}

.nav-item {
  padding: 8px;
}

.navbar-nav li {
  padding-right: 2px;
}

.navbar-text {
  height: 100px;
  padding: 4px;
  color: #ffffff !important;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link.active {
  color: #d66800 !important;
}

.nav-link:hover {
  color: #d66800 !important;
}

/* ==========================================================================
   Carousel
   ========================================================================== */

.carousel-inner {
  max-height: 38rem !important;
}
/*-- Slides--*/
.d-block w-100 {
  max-width: 100%;
}

/*-- Transition --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 2s ease;
}

.btn {
  background-color: #d66800 !important;
}

/* ==========================================================================
   Jumbotron
   ========================================================================== */

.jumbotron-fluid img {
  max-height: 38rem !important;
}

/* ==========================================================================
   Cards
   ========================================================================== */
.card {
  background-color: #d66800;
}
/* ==========================================================================
   Credits Table
   ========================================================================== */
.grey {
  background-color: #6e6969;
  color: #ffffff;
}

.orange {
  background-color: #d66800;
  color: #ffffff;
}
/* ==========================================================================
   Quote Carousel
   ========================================================================== */
.quote-color {
  color: #d66800;
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  background-color: #ffffff;
  padding: 1rem 2 rem 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #1d1d1f;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

ul.social {
  list-style-type: none;
  display: flex;
}
ul.social li {
  max-width: 16rem;
  margin: 0 auto;
}

i.fab.fa-imdb,
i.fab.fa-linkedin,
i.fab.fa-facebook-square,
i.fab.fa-instagram-square,
i.fab.fa-twitter-square {
  color: #6e6969;
  margin: 0 auto;
  padding: 0;
  font-size: 32px;
}

i.fas.fa-headphones-alt {
  color: #d66800;
  margin: 0 auto;
  padding: 0;
  font-size: 32px;
}

i.fab.fa-imdb:hover,
i.fab.fa-linkedin:hover,
i.fab.fa-facebook-square:hover,
i.fab.fa-instagram-square:hover,
i.fab.fa-twitter-square:hover {
  color: #d66800;
}

.card-icon {
  color: #ffffff !important;
}

.socket a {
  color: #ffffff;
  text-decoration: none;
}
.socket {
  background-color: #1d1d1f;
  border-top: 0.2rem solid #d66800;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
